body {
    margin: 0px;
    height: auto;
}

h1{
    margin-bottom:5px;
}

.aside {
    z-index: 60;
    position: fixed;
    padding-top:100px;
    height: 100%;
    background-color: darkslategrey;
    opacity:0.8;
    overflow:hidden;
    width:0px;
    display:flex;
    flex-flow:column;
    transition:width 0.5s;
}

.aside[data-show]{
    width:15%;
}

.aside > a{
    color:whitesmoke;
    opacity:0.8;
    text-decoration:none;
    font-size:24px;
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
    overflow:hidden;
    white-space:nowrap;
}

.aside > a:hover{
    opacity:1.0;
}

.aside > hr{
    width:90%;
}

.top {
    background-color: darkslategrey;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 100;
    align-items:center;
    justify-content:space-around;
}

.nav_div{
    align-items:center;
}

.nav_img{
    max-height:50px;
    max-width:50px;
}

.nav_img:hover{
    cursor:pointer;
}

.title {
    font-size: 24px;
    color:antiquewhite;
    width: 40%;
    margin-left:3%;
    text-align: left;
    flex-wrap: wrap;
}

.btn_div{
    display:flex;
    flex-wrap:wrap;
    width:40%;
    justify-content:space-around;
    align-items:center;
}

.top_div {
    float: left;
    flex-wrap: wrap;
    width: 30%;
}

.top_btn {
    margin: auto;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: bold;
    align-content: stretch;
    min-height: 50px;
}

.top_btn:hover {
    opacity: 1;
}

#searchBtn_char, #searchBtn_bless{
    background-color: cornflowerblue;
}

#AND_char, #AND_bless{
    background-color: forestgreen;
}

#AND_char[data_show], #AND_bless[data_show] {
    background-color: chartreuse;
}

.class_opt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cap {
    width: 70%;
    margin: auto;
    margin-top:70px;
    flex-wrap: wrap;
    text-align:center;
    font-size:24px;
}

.reset_opt {
    width: 70%;
    margin: auto;
    margin-top:50px;
    flex-wrap: wrap;
    text-align: center;
}

.all_opt {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.btn_group{
    display:flex;
    flex-flow:column;
}

.reset_btn {
    margin: auto;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    height:50px;
    border-style:double;
    opacity:0.8;
}

.reset_btn:hover{
    opacity:1;
}

.all_btn {
    margin: auto;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    border-style: double;
    opacity: 0.8;
    background-color:aquamarine;
}

.all_btn:hover {
    opacity: 1;
}

.skill_opt {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content:space-between;
}

.space {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
    height:50px;
}


.level_opt {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.dtype_opt {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.ult_opt {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.att_opt, .passive_1_opt, .passive_2_opt {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.opt {
    flex-wrap: wrap;
    display: flex;
    font-size: 20px;
    width: 18%;
    border-style: solid;
    border-width: 1px;
    margin: 7px 10px 7px 10px;
    border-radius: 10px;
    justify-content: center;
    align-content: stretch;
    min-height:50px;
}

.skill_opt > i {
    flex-wrap: wrap;
    display: flex;
    width: 18%;
    margin: 7px 10px 7px 10px;
}

.att_opt > i, .passive_1_opt > i, .passive_2_opt > i{
    flex-wrap: wrap;
    display: flex;
    width: 18%;
    margin: 7px 10px 7px 10px;
}

.label_opt {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 100%;
}

.filter{
    display:none;
}

.searchResult {
    width: 70%;
    margin: auto;
    margin-bottom:100px;
    margin-top: 70px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
    display:flex;
    justify-content:space-between;
}

.re_cap {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
}

.resultDiv {
    display: flex;
    flex-flow: column;
    max-width: 100px;
    min-height: 121px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 29px;
}

.resultImg {
    max-width: 100px;
    max-width: 100px;
    border-style: none;
    border-block-width: 3px;
    border-color: brown;
}

.resultImg:hover{
    cursor:pointer;
}

.searchResult > i {
    display: flex;
    flex-flow: column;
    width: 100px;
    margin-left: 1%;
    margin-right: 1%;
}

.aTag{
    font-size:14px;
    color:white;
    background-color:black;
    text-decoration:none;
}

.no_result {
    color: cadetblue;
    opacity: 0.5;
    font-size: 60px;
    width : 100%;
}

.goTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    opacity: 0;
    background-color: darkslateblue;
    color: white;
    border: none;
    transition: visibility 0.5s, opacity 0.5s linear;
    text-align:center;
}

.goTop:hover {
    cursor: pointer;
}

.tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 4px;
    display: none;
    width: 450px;
}

.tooltip[data-show]{
    display:block;
    display:flex;
    flex-flow:column;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.tooltip > hr{
    width:90%;
}

.attr, .sk_one, .sk_two{
    display:flex;
    justify-content:left;
    margin-right:10px;
    
}

.skill_ic {
    margin-right: 20px;
    margin-left:20px;
    max-height: 80px;
    max-width: 80px;
}

.sk_c{
    display:flex;
    align-content:center;
    justify-content:center;
    flex-wrap:wrap;
    margin:auto;
}

.att{
    max-height:40px;
    max-width:40px;
}

.arrow {
    visibility: hidden;
}

.arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
}

footer{
    text-align:center;
    margin:10px;
    opacity:0.7;
}

#passive_2_phy{
    display:none;
}

@media only screen and (max-width:700px) {
    body {
        overflow-x: hidden;
    }

    .top {
        width: 100%;
        flex-flow: column;
    }

    .title {
        width: 100%;
        margin: auto;
        text-align: center;
        flex-wrap: wrap;
        padding-left: 0%;
    }

    .top_btn {
        font-size: 16px;
        min-height: 40px;
    }

    .btn_div {
        margin-top:5px;
        width: 100%;
    }

    #skill > .cap > h1{
        margin-top:70px;
    }

    .skill_opt {
        flex-flow:column;
    }

    .opt {
        width: 90%;
    }

    .tooltip {
        width: 100%;
    }
}
